%table.table-hover.table
  %thead
    %tr
      %th
        User
      %th
        Story
      %th
        Action
  %tbody
    - @rsvps.each do |rsvp|
      %tr{:class => is_complete?(rsvp.words) ? "success" : "warning"}
        %td
          ="#{rsvp.user}"
        %td
          ="#{getsentence(rsvp.words)}"
        %td
          =form_tag('/admin/delete', :method => :post) do
            %input{:type => :hidden, :id => :user, :name => :user, :value => rsvp.user}
            =submit_tag "delete", :confirm => "really delete #{rsvp.user}?", :class=>"btn btn-danger"
.input-append.pull-right
  =form_tag('/admin/add', :method => :post) do
    %input{:type => :text, :id => :user, :name => :user, :placeholder => "enter a unique key here"}
    %button.btn.btn-success{:type => "submit"}
      %i.icon-user
      add user
