%center
  %img{:src=>'/assets/splash.png'}
  %p
  .input-append
    = form_tag('/rsvp/edit',:method=>'get') do
      = text_field_tag 'user', nil, :placeholder => "enter your key"
      %button.btn{:type => "submit"} go
