.row-fluid
  .span8.offset2
    Welcome to David and Minsi's wedding site. Insert a lot of text about what's going to transpire in the next few days
    and how it would be so awesome for everyone to attend. This is just boilerplate text and is really a replacement
    for lorem ipsum. I just want to see how it looks like to fill up the screen with this text. Oh right. If you're on
    this page, you likely shouldn't be here. You should have received an e-mail with a personalized URL. Now we just have
    to get the right font face. And there we go, that looks about right.
